@media (min-width: 481px) and (max-width: 1700px) {
  header {
    position: fixed;
    width: 100%;
    height: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .logo {
    position: absolute;
    display: block;
    margin-right: 70%;
  }
  .logo img{
    width: 105px;
    height: auto;
  }
  nav {
    background: transparent;
  }
  nav li {
    display: inline-block;
  }
  nav li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 15px;
  }
  nav li a:hover {
    background-color: #0e944b;
  }
  .dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
  }
  .dropdown-menu a {
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    background: #fff;
  }



  .container-slider {
    margin-top: 17rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
  }

  .banner img {
    color: #000;
    background:#38C738;
    width: 100%;
    margin-top: 4rem;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    margin-top: 20rem;
  }
  .temos {
    margin-top: 8rem;
  }
  .seguimentos {
    background-image: url(./img/fundo\ seguimentos\ desktop.png);
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0rem;
    gap: 0rem;
  }
  .seguimentos a img{
    display: block;
    width: 14rem;
    height: 13.3rem;
  }
  .seguimentos a:hover{
    position: absolute;
    width: 17rem;
    height: auto
  
  }

  .seguimentos h3 {
    font-size: 14px;
  }

  .seguimentos a, .seguimentos h3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bannerEsporte img {
    margin-top: 4rem;
    color: #000;
    background-color: transparent;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .atividade-extra{
    width: 95%;
    margin-top: 12rem;
    margin-left: 2rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }




  footer {
    background: #00ff00bb;
    width: 100%;
    height: auto;
    margin-top: 8rem;
    margin-left: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
  
  footer a {
    margin-top: 1rem;
    width: 195px;
    font-size: 14px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }
  footer a img {
    height: 23px;
    width: 23px;
  }
  .redes {
    width: 300px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes h2 {
    font-size: 17px;
  }
  .container-redes {
    width: 60%;
    display: flex;
    margin: 0px;
    margin-top: 1rem;
    gap: 1rem;
  }
  .container-redes a {
    padding: 10px;
    margin: 0rem;
  }
  
  span {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 19%;
    padding: 8px;
    width: 65%;
    align-items: center;
    font-size: 13px;
    text-align: center;
  }
  span a {
    margin-left: 5px;
    margin-right: 5px;
  }

}