@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", serif;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  text-align: center;
  display: none;
  z-index: 1000;
}
#cookie-banner button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 0.1px solid rgba(255, 255, 255, 0.548);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
}
#accept-cookies {
  background: #22fa0567;
}
#reject-cookies {
  background: transparent;
}
#cookie-banner button:hover {
  background: #38C738;
}

        /* Estilos para o popup de anúncio */
        #ad-popup {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          padding: 20px;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
          border-radius: 10px;
          display: none;
          text-align: center;
          width: 30%;
          z-index: 9;
      }
      
      #ad-popup img {
          max-width: 100%;
          border-radius: 10px;
      }
      
      #ad-popup h1 {
          font-size: 20px;
          margin: 10px 0;
      }
      
      #ad-popup p {
          font-size: 16px;
      }
      
      #close-ad {
          position: absolute;
          top: 10px;
          right: 10px;
          background: red;
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          border-radius: 50%;
          font-size: 14px;
      }





.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.925);
  z-index: 9999;
}

.loading-image {
  width: 100px; /* Altere conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  animation: fadeInOut 3s forwards; /* Altera a animação */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


header {
  position: fixed;
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 2px 5px rgb(169, 235, 169);
  z-index: 10;
}
.logo {
  position: absolute;
  display: block;
  margin-right: 70%;
}

.logo img{
  width: 70px;
  height: auto;
  padding: 3px;
  padding-top: 5px;
}
nav {
  background: transparent;
}
nav li {
  display: inline-block;
}
nav li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  transition: 0.2s;
}
nav li a:hover {
  background-color: #2bc06c;
  scale: 1.1;
  border-radius: 24px;
  color: #fff;
  padding: 10px;
}


.dropdown-toggle {
  font-size: 11px;
  color: #475249;
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;

}
.dropdown-menu a {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background: #fff;
  border-radius: 24px;
}
.portalMenu {
  margin-top: 0.8rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 255, 68, 0.432);
  width: 100px;
  height: 40px;
  border-radius: 10%;
  transition: 0.2s;
}
.portalMenu a {
  transition: 0.3s;
}
.portalMenu a:hover {
 background: transparent;
}
.portalMenu:hover {
  scale: 0.99;
}



main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container-slider {
  margin-top: 26rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  color: #000;
  margin-top: 4rem;
  background:rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute ;
  z-index: 1;
  width: 100%;

}


.on {
  opacity: 1;
}


#prev-button, #next-button {
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}


#prev-button img, #next-button img {

  width: 100%;
  height: auto;
}


#prev-button {
  padding: 5px;
  background: #45a132;
    background: rgba(32, 150, 52, 0.5);
  opacity: 1;
  margin-left: -95%;
  border-radius: 4px;
}


#next-button {
  padding: 5px;
  background: #45a132;
    background: rgba(32, 150, 52, 0.5);
  opacity: 1;
  margin-right: -95%;
  border-radius: 4px;
}


.temos{
  width: 100%;
  margin-top: 10rem;
  display: flex;
}


.temos h1 {
  padding: 5px;
  margin-left: 3rem;
}


/* .seguimentos {
  width: 100%;
  height: auto;
  padding: 4rem ;
  background: #a8f89811;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.seguimentos h3 {
  font-family: "Nunito", serif;
  color: #38C738;
}

.seguimentos a img{
  display: block;
  background: rgb(255, 255, 255);
  width: 20rem;
  height: 19rem;
  border-radius: 20px;
  border-radius: 20px;
    box-shadow: 1px 2px 30px 0 rgba(31, 170, 117, 0.4);
}

.seguimentos a:hover{
  position: absolute;
  width: 22rem;
  height: auto
}

.seguimentos h3 {
  background-color: transparent;
  background: #ffffff52;
  border-radius: 20px;
}

.seguimentos a, .seguimentos h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
} */


.todos-os-seguimentos {
  font-family: "Nunito", serif;
  color: #38C738;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  width: 100%;
  margin: 0;
  padding: 0;
}


.container-seg {
  padding: 50px 20px;
}


.container-seg h2 {
  font-size: 32px;
  font-weight: bold;
}


.container-seg h2 span {
  color: #6c5ce7;
}


.subtitle, .info .subtitle {
  margin-top: 1rem;
  color: #000000;
  font-size: 16px;
  margin-bottom: 40px;
}


.features {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.feature-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}


.feature-box:hover{
  transform: translateY(-10px);
}


.feature-box img {
  width: 100%;
  margin-bottom: 15px;
}


.feature-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


.feature-box p {
  font-size: 14px;
  color: #666;
}


.extracurricular{
  width: 100%;
}


.extracurricular h1 {
  margin-top: 5rem;
  color: #38C738;
  font-weight: bold;
  text-align: center;
}


.bannerEsporte {
  margin-top: 10rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}


.sliderEsportes {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.esporteSlide {
  opacity: 0;
  transition: opacity .2s;
  position: absolute ;
  z-index: 1;
  width: 100%;
}


#prev-button-esporte, #next-button-esporte {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}


#prev-button-esporte img, #next-button-esporte img {
  width: 100%;
  height: 100%;
}


.bannerEsporte img {
  margin-top: 8rem;
  color: #000;
  background-color: transparent;
  width: 100%;
  height: 27.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.atividade-extra{
  width: 95%;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  text-align: start;
}


.info {
  background-image: url(./img/fundo\ info01.png);
  width: 100%;
  height: 200px;
  margin-top: 27.4rem;
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.info img {
  display: none;
}
.info h2 {
  display: none;
}
.info .sobre-logo {
  display: inline;
  width: 100px;
  height: auto;
}
.info-dois {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}
.info-dois img {
  width: 50px;
}

.info h2, .info-dois h2 {
  color: #38C738;
  font-weight: bold;
}

.info P, .info-dois P {
  width: 30rem;
}

.infoBotao {
  background-image: linear-gradient(to right, #05ca85 0%, #4ed37f  51%, #1D976C  80%)}
  .infoBotao {
     margin: 10px;
     padding: 10px 40px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     margin-top: 1rem;
     margin-bottom: 2rem;
     margin-left: 25rem;
     font-size: 14px; 
     cursor: pointer; 
     border: none; 
}

.infoBotao:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.linha {
  margin: 0;
  background: #38C738;
  width: 40%;
  height: 1px;
  padding: 0;
}
#line {
  margin-top: 20rem;
}


/*
.comentario{
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.swiper {
  width: 90%;
  max-width: 1100px;
}
.swiper-slide {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.stars {
  color: #FFD700;
}
.swiper-button-next, .swiper-button-prev {
  color: #008000;
}
*/








footer {
  font-family: "Nunito", serif;
  background: #0c0c0c;
  background-image: url(img/footerstyle.png);
  width: 100%;
  height: auto;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 4rem;
  gap: 1rem;
}
.logo-footer {
  width: 150px;
}
.container-log-redes {
  font-family: "Nunito", serif;
  color: #fff;
  margin-left: 11rem;
  display: flex;
  padding: 20px;
  gap: 4rem;
}
.links-rodape {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

footer a {
  font-family: "Nunito", serif;
  margin-top: 1rem;
  width: 195px;
  font-size: 14px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
footer a img {
  height: 23px;
  width: 23px;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.redes h2 {
  font-size: 17px;
}
.container-redes {
  width: 20%;
  display: flex;
  margin: 0px;
  margin-top: 1rem;
  gap: 1rem;
}
.container-redes a {
  padding: 10px;
  margin: 0rem;
}

span {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 19%;
  padding: 8px;
  width: 65%;
  align-items: center;
  font-size: 13px;
  text-align: center;
}
span a {
  margin-left: 5px;
  margin-right: 5px;
}





