@media (max-width: 480px) {

  body {
    width: 100%;
    font-family: "Nunito", serif;
  }

  header {
    position: fixed;
    width: 100%;
    height: 3.6rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0rem;
    background-color: rgba(1, 24, 4, 0.9);
    box-shadow: 0 2px 5px rgb(51, 228, 51);
    z-index: 10;
  }

  .logo img {
    width: 70px;
    height: auto;
    padding: 0px;
    margin-top:17px;
  }

  .logo{
  margin-left: 0rem;
  }
  
  
/* Estilo do Menu-Hamburguer */
.menu-hamburguer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  margin-right: 1rem;
}
  header ul{
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    margin-right: 2rem;
    margin-top: 1rem;
    gap:  1rem;
    padding: 4px;
  }


  .bar {
    background-color: #168a2f;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
/* Animação para transformar o menu em "X" */
.menu-hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu-hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu-hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

  .menu {
    display: none; /* Esconde o menu inicialmente */ 
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    left: 0px;
    width: 100%;
    

    max-height: 0; /* Inicialmente, o menu está escondido */
    overflow: hidden; /* Oculta o conteúdo que excede a altura */
    opacity: 0; /* Torna o menu invisível */
    transition: max-height 0.7s ease, opacity 0.7s ease; /* Define a transição */
 
}

.menu ul {
  background-image: url(../img/background\ menu.png);
  opacity: 98%;
    list-style: none;
    margin-left: 0rem;
    margin-top: 0.4rem;
    height: 100em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}



.menu li {
    padding: 6px;
}

.menu li a {
    text-decoration: none;
    color: #38C738;
    font-weight: bold;
    font-size: 19px;
    margin-right: 0rem;
    padding: 7px;
}

.menu.active {
    display: block;
    justify-content: end;
    margin-left: 0rem;
    width: 100%;


    max-height: 70rem; /* Ajuste para um valor que seja maior que a altura total do menu */
    opacity: 1; /* Torna o menu visível */

}
.dropdown{
  width: 100%;
}
.dropdown-menu {
  margin-top: 1rem;
  background: transparent;
  position: relative;
  z-index: 2;
  display: none; /* Mantém o menu oculto por padrão */
  height: auto;
  width: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
 
.dropdown-toggle  {
  background: rgb(112, 243, 123);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 100%;
  height: auto;
  margin-left: 0rem;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
}

.dropdown-menu a {
  background: #fff;
  font-size: 23px;
  width: 100%;
  margin-left: 0rem;
  padding: 7px;
  display: flex;

}

.menu li {
  padding: 6px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  margin-right: 0rem;
}



  header ul li a {
    color: #000;
    font-size: 17px;
  }

  header ul{
    margin-top: -4rem;
    display: flex;
    align-items: end;
    margin-right: 0rem;
  }

.banner-ballet {
  margin-top: 3.8rem;
  width: 100%;
  height: auto;
  padding: 0px;
}
.banner-ballet img {
  margin-top: 0rem;
  width: 100%rem;
  padding: 0px;
}

.container-ballet {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-um h1 {
  font-size: 29px;
}
.container-um img {
  height: 10rem;
  display: none;
}
.container-dois  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 25rem;
}
.container-dois p {
  font-size: 14px;
}
.button-ballet {
  font-size: 13px;
  margin-left: 0rem;
}
footer {
  font-family: "Nunito", serif;
  color: #ffffff;
  background: #0c0c0cdc;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer {
  width: 100px;
}
.container-log-redes {
  font-family: "Nunito", serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 0px;
  padding: 0px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links-rodape {
  display: flex;
  flex-direction: column;
}
.links-rodape a {
  font-family: "Nunito", serif;
  color: #ffffff;
}

footer a {
  font-family: "Nunito", serif;
  color: #ffffff;
  color: #000;
  padding: 15px;
}

span{
  display: inline-block;
  padding: 8px;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}


.redes {
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.redes h2 {
  font-size: 18px;
  font-family:"Nunito", serif;
  opacity: 70%;
}
.redes div  {
  display: flex;
}
.container-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.redes div a {
  align-items: center;
  justify-content: center;
}
}


@media (max-width: 444px) {


.container-dois  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 22rem;
}


}




@media (max-width: 360px) {



.container-dois  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 22rem;
}

}