@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
 
  text-decoration: none;
  font-family: ' font-family: "Poppins", sans-serif;';
  box-sizing: border-box;

}

body {
  width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.925);
  z-index: 9999;
}

.loading-image {
  width: 100px; /* Altere conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  animation: fadeInOut 3s forwards; /* Altera a animação */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}




header {
  position: fixed;
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.logo {
  position: absolute;
  display: block;
  margin-right: 70%;
}
.logo img{
  padding: 5px;
  width: 105px;
  height: auto;
}
nav {
  background: transparent;
}
nav li {
  display: inline-block;
}
nav li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 15px;
}
nav li a:hover {
  background-color: #0e944b;
}
.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;
}
.dropdown-menu a {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background: #fff;
}
#banner-pedagogico {
  margin-top: 3.8rem;
  width: 100%;
  height: auto;
}
.conteudo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
}
.section1 img {
  margin-left: 8rem;
  width: 30%;
  height: auto;
}
.section1 div {
  margin-right: 2rem;
}
.section1 div h1 {
  color: #46A646;
}
.section1 div p {
  margin-top: 3rem;
}
.section1 div h3 {
  margin-top: 2rem;
}
.section1 div ul {
  margin-top: 0.5rem;
  margin-left: 3rem;
}
.section1 div ul li {
  padding: 4px;
}
.section1 div a li{
  margin-top: 0.9rem;
  margin-left: 2rem;
}


.section2 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  
  gap: 1rem;
}
.section2 img {
  margin-right: 10rem;
  width: 40%;
  height: auto;
}
.section2 div {
  margin-left: 8rem;
  text-align: end;
}
.section2 div h1 {
  color: #46A646;
}
.section2 div p {
  margin-top: 3rem;
}

.section3 {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
}
.section3 img {
  margin-left: 2rem;
  width: 40%;
  height: auto;
}
.section3 div {
  margin-right: 10rem;
}
.section3 div h1 {
  color: #46A646;
}
.section3 div p {
  margin-top: 3rem;
}
.button-pedagogico {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    width: 12rem;
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    margin-top: 8rem;
    margin-left: 0rem;
    font-size: 14px; 
    cursor: pointer; 
    border: none; 
    border-radius: 4px; 
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  }
  
  .button-pedagogico:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
  }






  footer {
    background: #00ff00bb;
    width: 100%;
    height: auto;
    margin-top: 8rem;
    margin-left: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
  
  footer a {
    margin-top: 1rem;
    width: 195px;
    font-size: 14px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }
  footer a img {
    height: 23px;
    width: 23px;
  }
  .redes {
    width: 300px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes h2 {
    font-size: 17px;
  }
  .container-redes {
    width: 60%;
    display: flex;
    margin: 0px;
    margin-top: 1rem;
    gap: 1rem;
  }
  .container-redes a {
    padding: 10px;
    margin: 0rem;
  }
  
  span {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 19%;
    padding: 8px;
    width: 65%;
    align-items: center;
    font-size: 13px;
    text-align: center;
  }
  span a {
    margin-left: 5px;
    margin-right: 5px;
  }





@media (min-width: 481px) and (max-width: 804px) {
  main section img {
    display: none;
  }
  main section {
    display: flex;
    margin: 5rem;
    text-align: start;
  }
  .section2 div {
    margin-left: 0rem;
    text-align: start;
  }
  .button-pedagogico {
    margin-top: 4rem;
  }




}

@media (min-width: 360px) and (max-width: 480px) {

    body {
      width: 100%;
    }
  
    header {
      position: fixed;
      width: 100%;
      height: 3.6rem;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 0rem;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  
    .logo img {
      width: 85px;
      height: auto;
      padding: 0px;
    }
  
    .logo{
    margin-left: 0rem;
    }
    
    
    .menu-hamburguer {
      cursor: pointer;
      display: inline-block; /* Altere para flex ou block para que ele apareça */
      margin-right: 2rem;
      padding: 6px;
      flex-direction: column;
      width: 30px;
      height: 30px;
      
      
    }
    header ul{
      display: flex;
      flex-direction: column;
      margin-left: 0rem;
      margin-right: 2rem;
      margin-top: 1rem;
      gap:  1rem;
      padding: 4px;
    }
  
  
    .bar {
      background-color: #38C738;
      height: 6px;
      width: 33px;
      margin: 3px 0;
      transition: all 0.3s ease;
  }
  
    .menu {
      display: none; /* Esconde o menu inicialmente */ 
      position: absolute;
      top: 50px; /* Ajuste conforme necessário */
      left: 0px;
      width: 100%;
      
  
      max-height: 0; /* Inicialmente, o menu está escondido */
      overflow: hidden; /* Oculta o conteúdo que excede a altura */
      opacity: 0; /* Torna o menu invisível */
      transition: max-height 0.7s ease, opacity 0.7s ease; /* Define a transição */
   
  }
  
  .menu ul {
    background-image: url(../img/background\ menu.png);
    opacity: 98%;
      list-style: none;
      margin-left: 0rem;
      margin-top: 0.4rem;
      height: 100em;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      border-radius: 5px;
  }
  
  
  
  .menu li {
      padding: 6px;
  }
  
  .menu li a {
  
      text-decoration: none;
      color: #333;
      margin-right: 0rem;
      padding: 7px;
  }
  
  .menu.active {
      display: block;
      justify-content: end;
      margin-left: 0rem;
      width: 100%;
  
  
      max-height: 70rem; /* Ajuste para um valor que seja maior que a altura total do menu */
      opacity: 1; /* Torna o menu visível */
  
  }
  .dropdown{
    width: 100%;
  }
  .dropdown-menu {
    margin-top: 1rem;
    background: transparent;
    position: relative;
    z-index: 2;
    display: none; /* Mantém o menu oculto por padrão */
    height: auto;
    width: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
   
  .dropdown-toggle  {
    background: rgb(112, 243, 123);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
    margin-left: 0rem;
    align-items: center;
    justify-content: center;
  
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
  }
  
  .dropdown-menu a {
    background: #fff;
    font-size: 23px;
    width: 100%;
    margin-left: 0rem;
    padding: 7px;
    display: flex;
  
  }
  
  .menu li {
    padding: 6px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    margin-right: 0rem;
  }
  
  
  
    header ul li a {
      color: #000;
      font-size: 17px;
    }
  
    header ul{
      margin-top: -4rem;
      display: flex;
      align-items: end;
      margin-right: 0rem;
    }
 

    main section img {
      display: none;
      
    }
    main section {
      margin: 3rem;
    }
    .section1 div h3 {
      font-size: 16px;
    }
    .section2 div {
      margin-left: 0rem;
    }
    .section2 h1, .section2 p {
      text-align: start;
      margin-left: 0rem;
      margin: 0rem;
    }
    .button-pedagogico {
      width: 100%;
      margin-top: 3rem;
    }
    .section3 div {
      width: 100%;
      margin: 0rem;
    }
    .section3 div h1 {
      width: 100%;
      height: auto;
      
    }
    .section3 div p {
      width: 100%;
      height: auto;
  }




 
  footer {
    background: #00ff00bb;
    width: 100%;
    height: auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
    gap: 1rem;
  }
  
  footer a {
    color: #000;
    padding: 15px;
  }
  

  span {
    display: inline-block;
    padding: 8px;
    justify-content: center;
    font-size: 14px;
    text-align: center;
  }
  .redes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .redes h2 {
    font-size: 18px;
    margin-left: 1rem;
  }
  .redes div  {
    display: flex;
  }
  .container-redes {
    width: 28%;
  }
  .redes div a {
    width: 100%;
  }

}


